<div>
    <h1>Recipes</h1>
    <br>
    <% @recipes.each do |recipe| %>
    <h6><%= link_to recipe.title, recipe %></h6>
    <% end %>
        
    <br>
    <br>
    <p> Looking for a Particular Recipe? <%= link_to "Search", recipes_search_path %></p>

    <br>
    <br>
    
    <%= link_to "New Recipe", new_user_recipe_path(current_user) %></p>

</div>