
<h1>Recipes:</h1>

<% @recipes.each do |recipe| %>

<h3><%= link_to recipe.title, recipe %></h3>
<%# make a nice list  %>

<% end %>

<br>
<%= link_to "New Recipe", new_recipe_path %>
<br>
<%= link_to "Home", root_path %>