   
   <br>
   <br>
   
    <p> Looking for a Particular Recipe? </p>

    <%= form_tag recipes_path, :method => 'get' do %>   
        <%= text_field_tag :search, params[:search] %>   
        <%= submit_tag "Search" %> 
    <% end %>

